input[name="firstName"].error, 
input[name="lastName"].error, 
input[name="email"].error, 
input[name="phone"].error {
  border: 2px solid red;
}

.App {
  width: 100%;
}

section {
  margin: 0;
  &#employeeSection, 
  &#newEmployeeSection {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    min-height: 100px;
  }
  button {
    height: 30px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.saveEmployee, 
.editEmployee {
  margin-right: 5px;
}

table {
  width: 100%;
  text-align: center;
}

table {
  & th, 
  & tr {
    width: 20%;
    overflow: hidden;  
  }
}
